.footer__column-link {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: .25s linear;
}

.footer__column-link:hover {
  opacity: .6;
}

.footer__column-link:last-child {
  margin-bottom: 16px;
}
